* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.dspl-il-bl {
    display: inline-block;
}
.dspl-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-black {
    color: black;
}

.color-white {
    color: white;
}

.pointer {
    cursor: pointer;
}

.pad-0 {
    padding: 0;
}

/* Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 12px;
}

#app {
    height: 100vh;
}

#top-bar {
    padding: 0 30px;
    width: 1170px;
    margin: 0 auto;
}

#top-bar .top-bar-left .menu-inline-left li,
#top-bar .top-bar-right .menu-inline-right li {
    list-style: none;
    padding: 20px 5px;
}

#top-bar .top-bar-left .menu-inline-left li:hover > a,
#top-bar .top-bar-right .menu-inline-right li:hover > a {
    font-weight: 700;
}

#top-bar .top-bar-left .menu-inline-left li a:hover,
#top-bar .top-bar-right .menu-inline-right li a:hover {
    font-weight: 700;
}

#top-bar .top-bar-left .menu-inline-left li {
    margin-right: 30px;
}

#top-bar .top-bar-right .menu-inline-right li {
    margin-left: 30px;
}

#top-bar .top-bar-right .menu-inline-right li.w-dropdown {
    position: relative;
}

#top-bar .top-bar-left .menu-inline-left li a,
#top-bar .top-bar-right .menu-inline-right li a {
    text-decoration: none;
    color: inherit;
}

#top-bar .top-bar-left {
    align-items: center;
}

.btn-dl {
    padding: 20px 5px;
    border-radius: 25px;
    background: #eb008d;
    padding: 10px 15px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 200px;
    box-shadow: 0 2px 2px 2px #eeeeee;
    padding: 10px;
}

.dropdown-menu a {
    margin-bottom: 30px;
    display: block;
}

.dropdown-menu a:nth-last-child(1) {
    margin-bottom: 10px;
}

.perk {
    position: relative;
}

.beta {
    position: absolute;
    bottom: 60%;
    left: 14%;
    font-size: 10px;
    color: #eb008d;
}